html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 1;
    text-align: center;
}

header {
    position: fixed;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    z-index: 1;
}

#logo {
    height: 50px;
    margin: 10px;
    float: left;
}

.navbar {
    float: right;
    margin-right: 2%;

}

li {
    display: inline-block;
    text-decoration: underline;
}

#mission {
    position: relative;
    display: flex;
    top: 69px;
    width: 100%;
    justify-content: center;
}

#mission-bg {
    background-image: url("../images/img-mission-background.jpeg");
    height: 700px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: black;
    align-items: center;
    width: 100%;
}


